/************************************
					HEADER CSS FILE
 ************************************/
#header-wrapper {
  display: grid;
  padding: 15px 50px;
  align-items: center;
  border-bottom: 1px solid #f8f8f8;
  position: fixed;
  background: #fff;
  left: 0;
  right: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	top: 0;
	z-index: 999;
}

.social-wrapper {
  display: none;
}

.socials {
  background: #000;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 36px;
  margin-right: 5px;
}

.socials:last-child {
  margin-right: 0;
}

#logo-wrapper {
  display: flex;
  justify-content: flex-start;
}

nav#nav-wrapper {
  display: flex;
  justify-content: flex-end;
}

#subscribe-wrapper {
  display: none;
}

#nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-items li {
  display: inline;
  margin-right: 10px;
}

#nav-items li:last-child {
  margin-right: 0;
}

#nav-items a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  padding: 8px;
}

#nav-items a:hover {
  background: #c4aa89;
  color: #fff;
}

a.active {
    background: red;
    color: #fff !important;
}

@media screen and (min-width: 769px) {
  .social-wrapper {
    display: flex;
    flex-direction: row;
  }

  #subscribe-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  #header-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
